.header{font-weight: 900; font-size: 1.2em; }
.header span{font-size: 1.8em; color: var(--secondary);}
.imgActivity img{width: 100%;}
.imgActivity{margin-bottom: 2em;}
.activityVideo{width: 50%; margin-top: 2em;}
.activityVideo video{width: 100%;
margin: 2em;}
.linkContent{color: rgb(210,210,210)}
.linkContent:hover{color: var(--secondary)}
.content{
  width: 90%;
  margin: 5% 5% 0% 5%;
  padding:1em;
}
/* ----- FOOTER NAV ------*/
.footer_activity{
  background-color: var(--primary);
  color: lightgray;
  display: inline-block;
  padding: 1em;
  width: 100%;
}
.footer_nav_a{
  color:rgb(50,50,50);
  padding: 1em;
  background-color: var(--primary);
  font-weight: lighter;
  font-size: 0.8em;
}
/* =====================
PROJECTS
=======================*/
table{width: 60%;margin: 2em 0em; background-color: white;}
thead tr th{padding:  1em; background-color: lightblue; font-size: 1.2em;}
tr td:nth-child(2){text-align: center; border-left: solid lightgray 1px;}
tbody tr:nth-child(1){background-color:lightgray; padding: 0.5em;}
td{border-bottom:  solid lightgray 1px;padding: 0.5em;}
tbody tr:last-child{font-weight: 700;}
/* =====================
js.html
=======================*/
.js_ul{
  width: 60%;
  margin: 2em auto;
}
.js_ul a{
display: block;
padding:0.8em;
text-decoration: none;
color: var(--primaryDark);
text-align: center;
border-bottom: ridge 1px var(--primaryDark);
}
.js_ul a:hover{background-color: var(--secondary);}
.js_ul a:active{background-color: var(--secondary);}
/* --- footer ----*/
.footer_nav_a:hover{color:var(--secondary); font-weight: 900; transition: ease 0.3s;}
/*------------- MEDIUM-LARGE SCREEN ----------------------------------------
*/
@media only screen and (max-width: 1100px){

}
/*------------- SMALL SCREEN ----------------------------------------
*/
@media only screen and (max-width: 750px){
  .header{font-size: 1em;}
  .header span{font-size: 1.1em;}
  .js_ul{
    width: 90%;
    margin: 1em auto;
  }
}
@media only screen and (max-width: 480px){
  .content{padding: 1em; }
  .content iframe{
    width: 100%;
  }
  .activityVideo{width: 100%;}
  .activityVideo video{width: 100%; margin: 0%;}
  .footer_activity{
    font-size: 0.9em;
  }
  .footer_nav_a{display: block; }
}
